{% extends 'base.html' %}

{% block head %} 
<title>Home</title>
{% endblock %}
{% block body %} 
<br>
    <h1>Home Page </h1>
    <br>
    <div class="jumbotron">
        <h1 class="display-4">Welcome to New Tech Ideas Blog</h1>
        <p class="lead">This is a place where you find plenty of <B>New Tech Ideas</B>. You can Post you own ideas read other peoples ideas and commment what you think of thir ideas.</p>
        <hr class="my-4">
        <p>To Visit the Creater of the Blog. Follow the link <a href="https://www.instagram.com/avinashkranjan7">Avinash Ranjan.</a></p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/posts" role="button">Posts</a>
        </p>
      </div>
{% endblock %}